<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card text-center shadow p-4">
      <img 
        src="https://media.giphy.com/media/3o7btPCcdNniyf0ArS/giphy.gif" 
        alt="Access Denied" 
        class="mx-auto mb-3"
        style="max-width: 200px;">
        
      <h1 class="text-danger">Access Denied</h1>
      <h3 class="text-muted">403 Forbidden</h3>
      <p>This page is for admin role only</p>
  
      <button 
        class="btn btn-danger mt-3" 
        mat-flat-button 
        (click)="onBackButton()">
        Back to home
      </button>
    </div>
  </div>
  